@import 'stylesheets/constants.scss';

.TodoList {
    padding: $defaultSpacing;
}
.TodoList__tasks {
    height: 100%;
    overflow-y: auto;
    padding: $defaultSpacing; 
    padding-left: $defaultSpacing * 1.5;
    padding-right: $defaultSpacing * 1.5;
}
.TodoList__add {
    text-decoration: none;
    color: $info;
    padding-left: $defaultSpacing;
    margin-bottom: $defaultSpacing * 5;
    border-radius: 3px;
    color: $white;
    background: $info;
    border: 1px solid $info;
    height: 24px;
    font-family: $fontFamily;
    cursor: pointer;
    outline: none;

    box-shadow: none;
    transition: box-shadow $duration ease-in-out;
}
.TodoList__add:hover {
    box-shadow: 0 0 2px 1px $info;
}