@import 'stylesheets/constants.scss';

.ProgressBar {
    height: $defaultSpacing;
    width: 100%;
    border: 1px solid $darkGray;
    border-radius: 3px;
    overflow: hidden;
}
.Progress {
    height: $width;
    background: $info;

    transition-property: width, background;
    transition-duration: $duration;   
}
.Progress--filled {
    background: $success;
}